.main_content {
  border: 1px solid rgb(65, 56, 7);
  box-shadow: 5px 5px 5px rgb(110, 96, 14);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 60rem;
  height: 25rem;
  background-color: rgba(17, 24, 39, 1);
  position: relative;
  top: -80px;
  border-radius: 9px;
}
.main_content_image {
  width: 20rem;
  height: 20rem;
  border: 2px solid rgb(110, 96, 14);
  border-radius: 9px;
}

.main_content_about {
  width: 20rem;
  height: 15rrem;
  overflow: hidden;
  display: block;
}

@media only screen and (max-width: 640px) {
  .main_content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 30rem;
  }

  .main_content_image {
    border-radius: 50px;
    height: 200px;
    margin-top: 20px;
  }
  .main_content_about {
    height: 20rem;
    overflow: hidden;
  }
}
